~$*
/MDK-ARM/startup_stm32f405xx.lst
/MDK-ARM/KPA_BDK2.uvguix.*
/MDK-ARM/KPA_BDK2/*.crf
/MDK-ARM/KPA_BDK2/*.o
/MDK-ARM/KPA_BDK2/*.d
/MDK-ARM/KPA_BDK2/KPA_BDK2.build_log.htm
/MDK-ARM/KPA_BDK2/KPA_BDK2.htm
/MDK-ARM/KPA_BDK2/KPA_BDK2.lnp
/MDK-ARM/KPA_BDK2/KPA_BDK2.map
/MDK-ARM/KPA_BDK2/KPA_BDK2.sct
/MDK-ARM/KPA_BDK2/KPA_BDK2_sct.Bak
/MDK-ARM/KPA_BDK2/KPA_BDK2_KPA_BDK2.dep
/MDK-ARM/KPA_BDK2/KPA_BDK2.hex
/MDK-ARM/KPA_BDK2/KPA_BDK2.axf